th, td, table{
    border: solid black 2px;
}

span{
    color: yellow;
    background-color: brown;
}

.dashed{
    border: dashed black 2px;
    background-color: orangered;
}

.dotted{
    border: dotted black 2px;
    background-color: orangered;
}

.cisferi{
    background-color: cyan;
}

.vardisferi{
    background-color: pink;
}

.lurji{
    background-color: blue;
}

body{
    background-color: lightcoral;
}